.resume_list ul {
    list-style: none;
}
.resume_list li {
    margin-bottom: 20px;
}
.resume_list li:last-child {
    margin-bottom: 0;
}
.resume_education .resume_item {
    background-color: var(--main-bg-education);
}
.resume_experience .resume_item {
    background-color: var(--main-bg-experience);
}
.resume_item {
    padding: 15px 20px;
    border-radius: 20px;
}
.resume_item p {
    text-transform: capitalize;
}
.resume_item .resume_time {
    color: #44566c;
    font-size: 0.875rem;
    margin-bottom: 5px;
    font-weight: bold;
}
.resume_name {
    font-size: 1.124rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}
